<div class="content-wrapper" style="min-height: 426.282px;">
    <section class="content">
        <div class="container-fluid">
            <h3>Solicitud Asesoria</h3>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Ingrese su solicitud</h3>
                        </div>
                        <form role="form" action="" #asesoriaForm="ngForm" (ngSubmit)="onSubmitAsesoria()">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Solicitud
                                        Descripción</label>
                                    <textarea class="form-control" [(ngModel)]="asesoria.solicitudAsesoriaDescripcion"
                                        name="txtDescripcion" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>

                                <div class="form-group">
                                    <label for="solicitudFecha">Fecha Visita</label>
                                    <input type="date" name="txtFechaVisita" id="txtFechaVisita"
                                        [(ngModel)]="asesoria.solicitudFechaAsesoria" class="form-control" value="now()">
                                </div>
                            </div>
                            <div class="card-footer">
                                    <input type="submit" value="Enviar Solicitud" class="btn btn-success">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <br>
            <br>
            <h3>Mis Solicitudes</h3>
            

            <div class="row mt-5">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">

                            Solicitudes</h3>
                            
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Solicitud ID</th>
                                    <th scope="col">Descripción</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Fecha Solicitada</th>
                                    <th scope="col">Desc. Resolución</th>
                                    <th scope="col">Fecha Resolución</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let sol of solicitudes">
                                    <td>{{sol.SOLICITUD_ASESORIA_ID}}</td>
                                    <td>{{sol.SOLICITUD_ASESORIA_DESCRIPCION}}</td>
                                    <td>{{sol.ESTADO_SOLICITUD_NOMBRE}}</td>
                                    <td>{{sol.SOLICITUD_FECHA_ASESORIA | date:'dd-MM-yyyy'}}</td>
                                    <td>{{sol.SOLICITUD_RESOLUCION}}</td>
                                    <td>{{sol.SOLICITUD_RESOLUCION_FECHA | date:'dd-MM-yyyy'}}</td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row mt-5">

                   
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Solicitud ID</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Fecha Solicitada</th>
                                <th scope="col">Desc. Resolución</th>
                                <th scope="col">Fecha Resolución</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let sol of solicitudes">
                                <td>{{sol.SOLICITUD_ASESORIA_ID}}</td>
                                <td>{{sol.SOLICITUD_ASESORIA_DESCRIPCION}}</td>
                                <td>{{sol.ESTADO_SOLICITUD_NOMBRE}}</td>
                                <td>{{sol.SOLICITUD_FECHA_ASESORIA | date:'dd-MM-yyyy'}}</td>
                                <td>{{sol.SOLICITUD_RESOLUCION}}</td>
                                <td>{{sol.SOLICITUD_RESOLUCION_FECHA | date:'dd-MM-yyyy'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div> -->
            <!-- </div> -->
        </div>
    </section>
</div>