<div class="content-wrapper" style="min-height: 426.282px;">
    <section class="content">
        <div class="container-fluid">
            <h3>Mi Contrato</h3>
            <br>
            <div>
                    <h4>En esta sección podrás conocer los detalles de tu contrato y de tus asesorias especiales</h4>
            </div>
            
            <br>


            <h4>Detalle Capacitaciones:</h4>
            <br>
            <p>Actualmente cuentas con un plan de <strong>{{detalleCapacitacion.CANT_CAPACITACIONES}}</strong></p><br>
            <p>-Has ocupado <strong>{{detalleCapacitacion.CAPOCUPADA}}</strong></p> <br>
            <p>-Te Quedan <strong>{{detalleCapacitacion.CAPDISP}}</strong></p> <br>
            <p>-Con un precio de <strong>{{detalleCapacitacion.VALORTOTAL}}</strong></p> <br>

            <br>
            <br>

            <h4>Detalle Asesorias:</h4>
            <br>
            <p>Actualmente cuentas con un plan de <strong>{{detalleAsesoria.CANT_ASESORIA}}</strong></p><br>
            <p>-Has ocupado <strong>{{detalleAsesoria.ASEOCUPADA}}</strong></p> <br>
            <p>-Te Quedan <strong>{{detalleAsesoria.ASEDISP}}</strong></p> <br>
            <p>-Con un precio de <strong>{{detalleAsesoria.VALORTOTAL}}</strong></p> <br>


            <h4>Detalle Asesorias Especiales / HACER:</h4>
            <br>
            <p>Actualmente has solicitado {{detalleAsesoria.CANT_ASESORIA}}</p><br>
            <p>-Has ocupado {{detalleAsesoria.ASEOCUPADA}}</p> <br>
            <p>-Te Quedan {{detalleAsesoria.ASEDISP}}</p> <br>

        </div>
    </section>
</div>

              