<div class="content-wrapper" style="min-height: 426.282px;">
    <section class="content">
        <div class="container-fluid">
            <br>
            <br>
            <h3>Mis Capacitación</h3>
        </div>

        <div class="row">
        <div class="col-md-2">  </div>

        <div class="col-md-8">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Capacitation ID</th>
                        <th scope="col">Detalle</th>
                        <th scope="col">Fecha capacitacion</th>
                        <th scope="col">Profesional Asignado</th>
                        <th scope="col">Detalle</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cap of capacitacion">
                   
                        <td>{{cap.CAPACITACION_ID}}</td>
                        <td>{{cap.CAPACITACION_DETALLE}}</td>
                        <td>{{cap.CAPACITACION_FECHA | date:'dd-MM-yyyy'}}</td>
                        <td>{{cap.PROFESIONAL}}</td>
                        <td><a routerLink="capacitacionDetalle/{{cap.CAPACITACION_ID}}">Ver detalle</a></td>
                    </tr>
                </tbody>
                </table>
        </div>
        </div>
    </section>
</div>
