<div class="content-wrapper" style="min-height: 426.282px;">
        <section class="content">
                <div class="container-fluid">
                        <h3>Solicitud de Capacitacion</h3>
                        <small>Por favor ingrese la fecha estimativa de capacitación</small>


                        <form action="">
                                <div class="row">
                                        <div class="form-group">
                                                <div class="col-md-12">
                                                        <input type="date" class="form-control" name="fechaCapacitacion">
                                                </div>
                                        </div>

                                </div>

                                <div class="row">
                                       <div class="form-group">
                                                <div class="col-md-12">
                                                        <label for="">Motivos de Capaticacion</label>
                                                        <input type="text" class="form-control" name="motivos">
                                                </div>
                                       </div>
                                </div>
                        </form>
                </div>
        </section>
</div>