<div class="content-wrapper" style="min-height: 426.282px;">
        <section class="content">
            <div class="container-fluid">
                <h3>Detalle Asesoria Id : {{asesoriaId}}</h3>
                <br>


                <div class="row">
                    <div class="col-md-2"></div>
                    
                    <div class="col-md-8">
                            <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Detalle Asesoria</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body table-responsive p-0">
                                        <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">Detalle</th>
                                                <th scope="col">Check</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let cap of asesoriaDetalle">
                                                <td>{{cap.ASESORIA_DETALLE_TITULO}}</td>
                                                <td>{{cap.ASESORIA_DETALLE_CHECK}}</td>
                                            </tr>
                                        </tbody>
                                        </table>
                                    </div>
                                </div>
                    </div>
                   
                </div>

                <h3>Registro Accidentes</h3>
                <br>


                <div class="row">
                    <div class="col-md-2"></div>
                    
                    <div class="col-md-8">
                            <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Registros Accidentes</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body table-responsive p-0">
                                        <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Fecha</th>
                                                <th scope="col">Profesional A Cargo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let cap of registrosAccidentes">
                                                <td>{{cap.REGISTRO_ACCIDENTE_NOMBRE}}</td>
                                                <td>{{cap.REGISTRO_ACCIDENTE_FECHA | date:'dd-MM-yyyy'}}</td>
                                                <td>{{cap.PROFESIONAL}}</td>
                                                <td><a routerLink="../../registroAccidente/{{cap.REGISTRO_ACCIDENTE_ID}}">Ver detalle</a></td>
                                            </tr>
                                        </tbody>
                                        </table>
                                    </div>
                                </div>
                    </div>
                   
                </div>
            </div>
        </section>
</div>
